<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isane.in.entity.ExportCellMapper">

	<sql id="criteriaSql">
		<where>
			<if test="exportId != 0">
				and exportId = #{exportId}
			</if>
			<if test="sheetNubmer != 0">
				and sheetNubmer = #{sheetNubmer}
			</if>
			<if test="rowNumber != 0">
				and rowNumber = #{rowNumber}
			</if>
			<if test="colNumber != 0">
				and colNumber = #{colNumber}
			</if>
			<if test="cellType != null and cellType != ''">
				and cellType like '%${ cellType }%'
			</if>
			<if test="cellContent != null and cellContent != ''">
				and cellContent like '%${ cellContent }%'
			</if>
			<if test="modifyFlag != 0">
				and modifyFlag = #{modifyFlag}
			</if>
			<if test="decimalPlace != 0">
				and decimalPlace = #{decimalPlace}
			</if>
			<if test="cellWidth != 0">
				and cellWidth = #{cellWidth}
			</if>
			<if test="cellHeight != 0">
				and cellHeight = #{cellHeight}
			</if>
		</where>
	</sql>
	<select id="select" parameterType="ExportCell" resultType="ExportCell">
		select * from IN_EXPORT_CELL
		<include refid="criteriaSql" />
		order by id
	</select>

	<select id="count" parameterType="ExportCell" resultType="int">
		select count(id) from IN_EXPORT_CELL
		<include refid="criteriaSql" />
	</select>

	<select id="find" parameterType="ExportCell" resultType="ExportCell">
		select * from IN_EXPORT_CELL
		<where>
			<if test="id != 0">
				and id = #{id}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="ExportCell" useGeneratedKeys="true"
		keyProperty="id">
		insert into IN_EXPORT_CELL (
		exportId , sheetNubmer , rowNumber , colNumber , cellType , cellContent ,
		modifyFlag , decimalPlace , cellWidth , cellHeight )values (
		#{exportId} , #{sheetNubmer} , #{rowNumber} , #{colNumber} ,
		#{cellType} , #{cellContent} , #{modifyFlag} , #{decimalPlace} ,
		#{cellWidth} , #{cellHeight} )
	</insert>

	<update id="update" parameterType="ExportCell">
		update IN_EXPORT_CELL
		<set>
			<if test="exportId != 0">
				exportId = #{exportId}
				,
			</if>
			<if test="sheetNubmer != 0">
				sheetNubmer = #{sheetNubmer}
				,
			</if>
			<if test="rowNumber != 0">
				rowNumber = #{rowNumber}
				,
			</if>
			<if test="colNumber != 0">
				colNumber = #{colNumber}
				,
			</if>
			<if test="cellType != null and cellType != ''">
				cellType = #{cellType}
				,
			</if>
			<if test="cellContent != null and cellContent != ''">
				cellContent = #{cellContent}
				,
			</if>
			<if test="modifyFlag != 0">
				modifyFlag = #{modifyFlag}
				,
			</if>
			<if test="decimalPlace != 0">
				decimalPlace = #{decimalPlace}
				,
			</if>
			<if test="cellWidth != 0">
				cellWidth = #{cellWidth}
				,
			</if>
			<if test="cellHeight != 0">
				cellHeight = #{cellHeight}
			</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="ExportCell">
		delete from IN_EXPORT_CELL
		<where>
			<if test="id != 0">
				and id = #{id}
			</if>
		</where>
	</delete>

	<delete id="clear">
		delete from IN_EXPORT_CELL
	</delete>


</mapper>